body{
 text-align:center ;
 color: cornflowerblue;
 font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: crimson;
}

#cabecera{
    background-color: #fff;
    color: deeppink;
    border-radius: 10px;
}